<div class="sidebar" th:fragment="frg-admin-sidebar">
    <div class="sidebar-header">
        <h3>Admin Dashboard</h3>
    </div>
    
    <nav class="nav flex-column mt-2">
        <a class="nav-link" th:href="@{/adminProfile}">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </a>
        <a class="nav-link" th:href="@{/courseManagement}">
            <i class="bi bi-book"></i>
            <span>Courses</span>
        </a>
        <a class="nav-link" th:href="@{/employeeManagement}">
            <i class="bi bi-people"></i>
            <span>Employees</span>
        </a>
        <a class="nav-link" th:href="@{/customerManagement}">
            <i class="bi bi-person"></i>
            <span>Customers</span>
        </a>
        <a class="nav-link" th:href="@{/adminFeedback}">
            <i class="bi bi-chat-left-text"></i>
            <span>Feedback</span>
        </a>
        <a class="nav-link" th:href="@{/couponManagement}">
            <i class="bi bi-ticket-perforated"></i>
            <span>Offers</span>
        </a>
        <a class="nav-link" th:href="@{/tickerManagement}">
            <i class="bi bi-megaphone"></i>
            <span>Ticker</span>
        </a>
        <div class="mt-auto pt-4">
            <a class="nav-link text-danger" th:href="@{/adminLogout}">
                <i class="bi bi-power"></i>
                <span>Logout</span>
            </a>
        </div>
    </nav>
</div>
